@model IEnumerable<WebBanVLXD.Models.BaoCaoDoanhThu>
@{
    ViewBag.Title = "Báo cáo doanh thu";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    var tongBan = Model.Sum(x => x.TongBan);
    var tongNhap = Model.Sum(x => x.TongNhap);
    var tongLoiNhuan = Model.Sum(x => x.LoiNhuan);
}
<div class="container mt-4 mb-4">
    <div class="alert alert-success shadow-sm">
        <h4><i class="fa fa-briefcase"></i> Bảng điều khiển quản lý</h4>
        <div class="d-flex flex-wrap gap-2 mt-3">
            <a href="@Url.Action("QLSanPham","QuanLy")" class="btn btn-primary"><i class="fa fa-box"></i> Quản lý sản phẩm</a>
            <a href="@Url.Action("QLNhapHang","QuanLy")" class="btn btn-success"><i class="fa fa-download"></i> Nhập hàng</a>
            <a href="@Url.Action("QLTonKho","QuanLy")" class="btn btn-info text-white"><i class="fa fa-cubes"></i> Tồn kho</a>
            <a href="@Url.Action("BaoCaoDoanhThu","QuanLy")" class="btn btn-danger"><i class="fa fa-bar-chart"></i> Báo cáo</a>
            <a href="@Url.Action("QLDonHang","QuanLy")" class="btn btn-primary btn-lg"><i class="fa fa-box"></i> Đơn hàng</a>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h3 class="text-primary"><i class="fa fa-line-chart"></i> Báo cáo doanh thu</h3>
    <hr />

    <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-light">
            <tr>
                <th>Ngày</th>
                <th>Doanh thu bán hàng</th>
                <th>Chi phí nhập hàng</th>
                <th>Lợi nhuận</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bc in Model)
            {
                <tr>
                    <td>@bc.Ngay.ToString("dd-MM-yyyy")</td>
                    <td>@string.Format("{0:N0} ₫", bc.TongBan)</td>
                    <td>@string.Format("{0:N0} ₫", bc.TongNhap)</td>
                    <td class="fw-bold text-success">@string.Format("{0:N0} ₫", bc.LoiNhuan)</td>
                </tr>
            }
        <tfoot>
            <tr class="table-warning fw-bold">
                <td>TỔNG</td>
                <td>@string.Format("{0:N0} ₫", tongBan)</td>
                <td>@string.Format("{0:N0} ₫", tongNhap)</td>
                <td>@string.Format("{0:N0} ₫", tongLoiNhuan)</td>
            </tr>
        </tfoot>
        </tbody>
    </table>

    <div class="text-end">
        <a href="@Url.Action("Index", "SanPham")" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>
